body {
	margin: 0;
	padding: 0;
	background: #34354a;
	background: linear-gradient(0deg, #34354a 0%, #000 100%);

	/* background: linear-gradient(0deg, #696fda 0%, #dd6a6a 100%); */
	/* background: linear-gradient(0deg, #27b98f 0%, #c82727 100%); */
	/* background: linear-gradient(0deg, #a6a7b1 0%, #1fb563 100%); */
	/* background: linear-gradient(0deg, #1149b1 0%, #222121 100%); */
	/* background: linear-gradient(0deg, #de9e54 0%, #2c2cc8 100%); */
	/* background: linear-gradient(0deg, #2fdf38 0%, #dd6a6a 100%); */


	color: white;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #0000004d;
	border-radius: 10px;
	background-color: #0000;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #0000;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #0000004d;
	background-color: #555;
}

.btn {
	padding: 6px 12px;
	background-color: #fff2;
	border: 1px solid #fff6;
	border-radius: 4px;
	color: white;
}

.btn:hover {
	background-color: #fff4;
}
.btn:active {
	background-color: #fff5;
}

.input-text {
	padding: 6px 12px;
	background-color: #fff2;
	border: 1px solid #fff6;
	border-radius: 4px;
	color: white;
}

header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10px;
}

header>.header-name {
	margin-right: auto;
	/* 왼쪽으로 이동시키기 위해 auto 값을 지정합니다 */
}

section {
	height: calc(100vh - 50px);
	max-width: 1024px;
	margin: auto;
}

/* -------------------------- */

.dimmer-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #00000080;
	padding: 30px;
	transition: all 0.6s;
}

.black-bg {
	background: #000e;
	width: 35%;
	height: 450px;
	margin: auto;
	border-radius: 5px;
	padding: 30px 30px;
	border: 1px solid dimgray;
}

/* -------------------------- */

.local-info-wrap {
	height: 150px;
}

.local-info-city {
	height: 40px;
	text-align: center;
	display: flex;
	padding: 10px 0;
	justify-content: center;
}

.local-info-city>.location-city, .city-weather {
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	padding: 0 10px;
	background-color: #fff1;
}

.local-info-wrap>div:last-child {
	display: flex;
	justify-content: space-evenly;
}

.local-item {
	height: 70px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.local-info-date {
	font-size: x-large;
}

.local-info-weather {
	font-size: x-large;
}

/* -------------------------- */

.todo-main-wrap {
	height: 350px;
}

.todo-main-wrap>.todo-navbar {
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff2;
}

.todo-main-wrap>.todo-inner-wrap {
	height: 300px;
	overflow: auto;

}

.todo-container {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background-color: #fff1;
}
.todo-container:hover {
	background-color: #fff2;
}

.todo-item {
	border: 2px solid dimgray;
	border-radius: 10px;
}

.todo-check {
	width: 20px;
  height: 20px;

}





/* -------------------------- */

.bookmark-wrap {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	/* 3개의 열을 생성 */
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 300px;
	overflow: auto;

}

.icon-container,
.bg-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.myBookmark-url {
	display: none;
}

.imgsize {
	width: 75px;
	height: auto;
}

.box {
	margin-left: auto;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/* -------------------------- */



.category-main-wrap {
	width: 100%;
	height: 100%;
	border: 2px solid dimgray;
	border-radius: 10px;
}

.category-list {
	border-radius: 10px;
}

.category-input {
	display: flex;
	justify-content: space-around;
}


.bgChange-wrap {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	/* 3개의 열을 생성 */
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 50px 0 0 0;
	height: 250px;
	overflow: auto;
}

.shortLink-wrap {
	width: auto;
	height: auto;
	padding: 50px 10px 10px 50px;
	justify-content: center;
	align-items: center;
}

.shortLink-wrap>div:last-child {
	display: flex;
	padding: 50px 50px;
	justify-content: flex-end;
}

.shortLink-wrap>div:last-child>button {
	margin-left: 50px;
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: blueviolet;
}