body {
	margin: 0;
	padding: 0;
}

header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 10px;
}

section {
	height: calc(100vh - 50px);
	max-width: 1024px;
	margin: auto;

}




/* -------------------------- */

.local-info-wrap {
	/* background-color: RED; */
	height: 150px;
}

.local-info-city {
	height: 30px;
	text-align: center;
	display: flex;
	padding: 10px 0;
	justify-content: center;
}
.local-info-city > .location-city{
	border: 1px solid lightgray;
	border-radius: 4px;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.local-info-wrap > div:last-child {
	display: flex;
	justify-content: space-evenly;
}

.local-item {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	border: 2px solid dimgray;
	border-radius: 10px;
}

.local-info-date {
}

.local-info-weather {
}

/* -------------------------- */

.todo-main-wrap {
	/* background-color: green; */
	height: 400px;
}

.todo-main-wrap > .todo-navbar {
	/* background-color: burlywood; */
	height: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.todo-main-wrap > .todo-inner-wrap {
	/* background-color: blueviolet; */
	height: 300px;
	overflow: auto;

}

.todo-container {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}


.todo-item {
	border: 2px solid dimgray;
	border-radius: 10px;
}

.todo-check {
	width: 30px; /* 원하는 가로 크기 */
	height: 30px; /* 원하는 세로 크기 */
}







/* -------------------------- */


.bookmark-wrap {
	/* background-color: green; */
	display: grid;
	grid-template-columns: repeat(3, 250px); /* 3개의 열을 생성 */
	gap: 20px;
	justify-content: center; 
	align-items: center;
	height: 250px;
	overflow: auto;
	
}

.book-container {
	/* background-color: white; */
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;

}

.imgsize {
	width: 75px;
	height: auto;
}


